* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex; 
    width: 90%;
    margin: auto;
    height: auto;
    align-items: center;
}

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

.logo-container img {
    max-height: 40px;
    max-width: 40px;
}

nav {
    flex:2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex:1;
    justify-content: flex-end;
}

.cart img {
    max-height: 20px;
    max-width: 20px;
}